---
import SectionBanner from "../SectionBanner.astro";
import TreatmentContent from '@/components/molecules/treatmentsPage/TreatmentContent.astro'
import type { Treatment } from "@/types/types";
type Props = {
    treatment: Treatment
}
const {treatment} = Astro.props
---
<div id={treatment.slug} class="-translate-y-16"></div>
<li>
   <SectionBanner subtitle={treatment.banner.subtitle} title={treatment.banner.title} image={treatment.banner.image}/>
<TreatmentContent treatment={treatment} />
</li>