---
import HTMLText from "@/components/atoms/HTMLText.astro";
import LayoutSections from "@/layouts/LayoutSections.astro";
import Layout from "../layouts/Layout.astro";
import ContactButton from "@/components/atoms/ContactButton.astro";
import Image from "@/components/molecules/aboutPage/Image.astro";
import List from "@/components/molecules/List.astro";
import PageBanner from "@/components/organisms/PageBanner.astro";
import PictureAbout from "@/components/molecules/aboutPage/MainPicture.astro";
import { getAboutData } from "@/services/hygraphRequests";
import type { About } from "@/types/types";
const aboutData: About = await getAboutData();
---

<Layout title="Vanessa Brossard : À propos">
  <main>
    <PageBanner image={aboutData.banner.image} title={aboutData.banner.title} subtitle={aboutData.banner.subtitle}/>
    <LayoutSections>
    <div class="p-4">
      {
        aboutData.subtitle && (
          <h3 class="text-3xl my-5">{aboutData.subtitle}</h3>
        )
      }
      {aboutData.picture && <PictureAbout image={aboutData.picture} />}
      <div class="my-5 md:text-lg">
        <HTMLText text={aboutData.presentation.html}/>
      </div>
      {
        aboutData.diverse && (
          <div class="my-20">
            <HTMLText text={aboutData.diverse.html}/>
          </div>
        )
      }

      {
        aboutData.list && (
          <div class="my-20 flex justify-center">
            <List list={aboutData.list} />
          </div>
        )
      }
      {
        aboutData.images && (
          <div class="flex flex-col md:flex-row gap-5">
            {aboutData.images.map((img) => (
              <Image image={img} />
            ))}
          </div>
        )
      }
    </div>
    </LayoutSections>
    <div class="flex justify-center my-5 md:my-10">
      <ContactButton />
    </div>
  </main>
</Layout>
