---
import type { Contact } from "@/types/types";
import { Icon } from 'astro-icon'
import Phone from "@/components/atoms/contact/Phone.astro";
import Email from "@/components/atoms/contact/Email.astro";
import Address from "@/components/atoms/contact/Address.astro"
import MarginBtwSections from "@/components/atoms/MarginBtwSections.astro";
import HTMLText from "@/components/atoms/HTMLText.astro";
import List from "@/components/molecules/List.astro";
import Layout from "@/layouts/Layout.astro";
import LayoutSections from "@/layouts/LayoutSections.astro";
import PageBanner from "@/components/organisms/PageBanner.astro";
import { getContact } from "@/services/hygraphRequests";
const contact:Contact = await getContact()
---

<Layout title="Vanessa Brossard : contact">
    <PageBanner title={contact.banner.title} image={contact.banner.image} subtitle={contact.banner.subtitle}/>
<LayoutSections>
    <div class="flex flex-col gap-5 max-w-xs mx-auto">
    <Phone  phone={contact.tel}/>
    { contact.email && <Email email={contact.email}/>}
    <Address address={contact.address}/>
    </div>
<MarginBtwSections/>
{contact.informations && <HTMLText text={contact.informations.html} />}
<MarginBtwSections/>
{contact.list &&
<List list={contact.list} />}
</LayoutSections>

</Layout>