---
import type { Contact } from "@/types/types";
import { Icon } from 'astro-icon'
import MarginBtwSections from "@/components/atoms/MarginBtwSections.astro";
import HTMLText from "@/components/atoms/HTMLText.astro";
import List from "@/components/molecules/List.astro";
import Layout from "@/layouts/Layout.astro";
import LayoutSections from "@/layouts/LayoutSections.astro";
import SectionBanner from "@/components/organisms/SectionBanner.astro";
import { getContact } from "@/services/hygraphRequests";
const contact:Contact = await getContact()
---

<Layout title="Vanessa Brossard : contact">
    <SectionBanner title={contact.banner.title} image={contact.banner.image}/>
<LayoutSections>
    <div class="flex flex-col gap-5 max-w-xs mx-auto">
    <div class="btn bg-brand-1 hover:bg-brand-1-hover hover:text-white border-none "> <a href=`tel:${contact.tel}`><div class="flex items-center"> <Icon name="fluent:phone-12-regular" class="h-10 " /> {contact.tel}</div></a></div>
    <div class="btn bg-brand-1 hover:bg-brand-1-hover hover:text-white lowercase border-none"> <a href=`mail:${contact.email}`><div class="flex items-center"> <Icon name="fluent:mail-12-regular" class="h-10 " /> {contact.email}</div></a></div>
    <div class="btn bg-brand-1 hover:bg-brand-1-hover hover:text-white normal-case border-none"> <a  target="_blank" href=`https://www.google.fr/maps/place/${contact.gps}`><div class="flex items-center"> <Icon name="mdi:address-marker-outline" class="h-10 " /> {contact.address}</div></a></div>
    </div>
<MarginBtwSections/>
<HTMLText text={contact.informations.html} />
<MarginBtwSections/>
{contact.list &&
<List list={contact.list} />}
</LayoutSections>

</Layout>