---
// import '@/styles/globals.css'
import Hero from "@/components/organisms/Hero.astro"
import Presentation from "@/components/organisms/Presentation.astro"
import PracticesSection from '@/components/organisms/PracticesSection.astro';
import type { HeroData, HomePageData, Practice } from "@/types/types";

import Layout from '../layouts/Layout.astro';
import {getHomePageData, getPractices} from "../services/hygraphRequests"
const homePageData: HomePageData = await getHomePageData()
const practicesData: Practice[] = await getPractices()
const heroData : HeroData = homePageData.hero
---

<Layout title="Vanessa Brossard">
	<main>
<Hero data={heroData}/>
<Presentation title={homePageData.titlePresentation} content={homePageData.contentPresentation}/>
<PracticesSection practices = {practicesData} title={homePageData.practicesSection.title} subtitle={homePageData.practicesSection.subtitle} image={homePageData.practicesSection.image} content={homePageData.practicesPresentation}/>
	</main>

</Layout>



