---
import StringToMD from "@/components/molecules/StringToMD.astro";
import Layout from '../layouts/Layout.astro';
import LayoutSections from '@/layouts/LayoutSections.astro';
import SectionBanner from '@/components/organisms/SectionBanner.astro';
import PracticesPageList from '@/components/organisms/PracticesPageList.astro'
import ContactButton from '@/components/atoms/ContactButton.astro';
import {getPractices, getPracticesPageData} from "../services/hygraphRequests"
import type { Practice, PracticesPageData } from "@/types/types";
const practicesData: Practice[] = await getPractices()
const practicesPageData: PracticesPageData = await getPracticesPageData()
---
<Layout title="Vanessa Brossard : Mes techniques">
	<main>
<SectionBanner title={practicesPageData.title} subtitle={practicesPageData.subtitle} image={practicesPageData.imageBanner} />
<LayoutSections>
      
<div class="md:text-xl">
<StringToMD text={practicesPageData.description}/>
</div>

</LayoutSections>

<PracticesPageList data={practicesData} />
<div class="flex justify-center">
<ContactButton/>
</div>
        </main>

</Layout>
