---
import HeroImage from "@/components/molecules/HeroImage.astro";
import GradientFilter from "../atoms/GradientFilter.astro";
import HeroContent from "../molecules/HeroContent.astro";
import RightSideHero from "../molecules/RightSideHero.astro";
import type { HeroData } from "@/types/types";
type Props = {
  data: HeroData;
};
const { data } = Astro.props;
---

<div
  id="hero"
  class="relative w-full h-96 overflow-hidden justify-center md:hidden"
>
  <GradientFilter />
  <HeroImage data={data.image} />
  <HeroContent title={data.title} subtitle={data.subtitle} />

</div>
<div class="flex-row-reverse hidden md:flex">
  <RightSideHero image={data.image} />
  <HeroContent title={data.title} subtitle={data.subtitle} />
</div>
