---
import Hamburger from "@/components/molecules/Hamburger.astro"
import type { NavbarData } from "@/types/types";
import { getNavbarData } from "@/services/hygraphRequests";
const navbarData: NavbarData = await getNavbarData()
const{practices} = navbarData
---


<div class="bg-brand-1 w-full">
  <div class="container mx-auto px-4">
    <nav class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a class="text-brand-4 text-4xl font-inspiration" href="/">Vanessa Brossard
</a>
      </div>
      <div class="hidden md:block flex-none">
        <ul class="menu menu-horizontal px-1">
         <li> <a class="hover:text-white hover:bg-brand-1-hover"href="/">Accueil</a></li>
         <li><a class="hover:text-white hover:bg-brand-1-hover"href="#">À propos</a></li> 
         <li> 
            <details><summary class="hover:text-white hover:bg-brand-1-hover" >Mes Techniques</summary>
<ul class="p-2 bg-brand-1">
   {practices.map((practice)=>(
    <li ><a class="hover:text-white hover:bg-brand-1-hover" href=`/techniques#${practice.slug}` >{practice.title}</a></li>
   ))}
          </ul>
            </details>
        </li> 
         <li> <a class="hover:text-white hover:bg-brand-1-hover" href="#">Les Traitement</a></li> 
         <li><a class="hover:text-white hover:bg-brand-1-hover" href="#">Contact</a></li> 
        </ul>
      </div>
      <div class="md:hidden">
        <div id="menu-toggle">
            <Hamburger/>
        </div>
      </div>
    </nav>
    <div id="mobile-menu" class="md:hidden hidden opacity-0 transition-opacity duration-300 ease-in">
      <!-- <ul class="px-2 pt-2 pb-4 space-y-1 font-semibold">
        <li><a class="text-brand-foreground block px-3 py-2 " href="#">Accueil</a></li>
        <li><a class="text-brand-foreground block px-3 py-2 " href="#">À propos</a></li>
        <li><a class="text-brand-foreground block px-3 py-2 " href="/techniques">Mes Techniques</a></li>
        <li><a class="text-brand-foreground block px-3 py-2 " href="#">Les Traitement</a></li>
        <li><a class="text-brand-foreground block px-3 py-2 " href="#">Contact</a></li>
      </ul> -->
      <ul class="menu menu-vertical px-1">
         <li> <a class="hover:text-white hover:bg-brand-1-hover"href="/">Accueil</a></li>
         <li><a class="hover:text-white hover:bg-brand-1-hover"href="#">À propos</a></li> 
         <li> 
            <details><summary class="hover:text-white hover:bg-brand-1-hover" >Mes Techniques</summary>
<ul class="p-2 bg-brand-1">
   {practices.map((practice)=>(
    <li ><a class="hover:text-white hover:bg-brand-1-hover" href=`/techniques#${practice.slug}` >{practice.title}</a></li>
   ))}
          </ul>
            </details>
        </li> 
         <li> <a  class="hover:text-white hover:bg-brand-1-hover" href="#">Les Traitement</a></li> 
         <li><a class="hover:text-white hover:bg-brand-1-hover" href="#">Contact</a></li> 
        </ul>
    </div>
  </div>
</div>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  menuToggle && menuToggle.addEventListener('click', () => {
    mobileMenu && mobileMenu.classList.toggle('hidden');
    mobileMenu && mobileMenu.classList.toggle('opacity-0');
    menuToggle && menuToggle.classList.toggle('open');
  });
</script>