---
import type {Practice} from "@/types/types"
import SectionBanner from "@/components/organisms/SectionBanner.astro"
import PracticeContent from "@/components/molecules/practicesPage/PracticeContent.astro"
import LayoutSections from '@/layouts/LayoutSections.astro';

type Props={
    practice: Practice
}
const {practice}= Astro.props
---
<div id={practice.slug} class="-translate-y-16"></div>
<li class="mt-16 ">
    <SectionBanner title={practice.title} image= {practice.image[0]} color="text-brand-foreground"/>
<PracticeContent practice={practice}/>

</li>